/* css nav */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flexbox;
}
html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  color: #222;
  background: #fff;
}

.barra {
  background-color: #003366;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 100px;

  width: 100%;
}

.container-barra {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
}

.links-cabecalho {
  display: flex;
  gap: 1rem;
}
.links-nav {
  padding-right: 2rem;
  align-items: center;
}
.links-cabecalho a {
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.2s;
}

.links-cabecalho a:hover {
  opacity: 0.5;
}

/* header */

/* === SEÇÃO HERO / BANNER === */
.banner {
  position: relative;
  height: 50%;
  background: url("image.png") center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Camada de leve escurecimento, para contraste */
.banner-overlay {
  background: rgba(163, 163, 163, 0);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container interno */
.banner-content {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Logo no canto esquerdo*/
.banner-logo img {
  height: 80px;
}

/* Bloco lateral direito */
.banner-side {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/* Barra de busca */
.busca {
  color: #ffffff;
  display: flex;
  border: 2px solid #0b3b66;
  border-radius: 6px;
  overflow: hidden;
}

.busca input {
  border: none;
  padding: 0.4rem 0.6rem;
  font-size: 1rem;
  outline: none;
  width: 180px;
}

.busca button {
  background-color: #ffffff;
  border: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  transition: background 0.2s ease;
}

.busca button:hover {
  background: #0b3b66;
}

/* Brasão do Governo */
.brasao-link img {
  height: 80px;
}

/* Fim header */

/* notificação */

.barra-notificacao {
  background-color: #ffffffc4;
  font-size: 0.9rem;
  font-weight: 100px;
  width: 100%;
}

.barra-notificacao a {
  color: black;
}

.container-barra-notificacao {
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.links-notificacao {
  padding-right: 100px;
  align-items: center;
  position: relative;
}

/* fim notificação */

/* Carrosel */

.noticia-contener {
  padding: 80px;
  background-color: #cfcfcf;
}

.noticia-h2 {
  margin-bottom: 0%;
  color: #003366;
}

#slider {
  width: 600px;
  margin: 10px;
  text-align: center;
}
#slider input[type="radio"] {
  display: none;
}
#slider label {
  cursor: progress;

  text-decoration: none;
}
/* borda bonita 
  #slides {
   padding: 10px;
   border: 3px solid #ccc;
   background: #000000;
   position: relative;
   z-index: 1;
  } */
#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;

  height: 300px;
}
#slides .slide {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

/* INICIO imagem com link */

#slides .slide_1 {
  background: #00171f;
}
#slides .slide_2 {
  background: #003459;
}
#slides .slide_3 {
  background: #007ea7;
}
#slides .slide_4 {
  background: #00a8e8;
}
/* FIM imagem com link */

/* INICIO Controle dos slides */

#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
}
#controls label:hover {
  opacity: 1;
}

/* FIM Controle dos slides */

/*
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float:right;
   margin: 0 -50px 0 0;
   display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float:left;
   margin: 0 0 0 -50px;
   display: block;
}
*/
#bullets {
  margin: 10px 0 0;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #00a8e8;
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: #444;
}
@media screen and (max-width: 900px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(1) {
    margin: 0;
  }
  #slides {
    max-width: calc(100% - 140px);
    margin: 0 auto;
  }
}

/* Fim do carrosel */

/* INICIO DO NOTICIA PRINCIPAL */
.noticiaprincipal {
  display: flex;
  justify-items: center;

  margin: 20px;
}

.noticialink {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px;
  margin-top: 1px;
  
}

.item {
  
}

.item1 {
  background: url("image.png") center center / cover no-repeat;
}

.item2 {
  background: url("imag/demo1.jpg") center center / cover no-repeat;
}

.item3 {
  background: url("imag/demo1.jpg") center center / cover no-repeat;
}

.item4 {
  background: url("imag/demo1.jpg") center center / cover no-repeat;
}

/* FIM DO NOTICIA PRINCIPAL */

/* INICIO PDF */

.img-link img {
  margin: 10px;
  width: 100px;
  transition: 0.3s;
}

.img-link img:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}


/* FIM PDF */
/* INICIO rodapé */

.footer {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 50px 20px;
  color: #333;
  font-family: "Open Sans", sans-serif;
}

.footer h6 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #003d75;
}

.footer p {
  line-height: 1.6;
}

.zap-img {
  width: 140px;
  margin-bottom: 15px;
}



/* FIM rodapé */
